
.inline-block{
	display: inline-block;
}

img{
	width: 40px
	
}

.marjvena1{
	margin-left: 1000px;
}
.marjvena2{
	margin-left: 25px;
}
.marjvena3{
	margin-left: 25px;
	color: #10C9C3;
}
nav a{
	font-size: 17px;
	text-decoration: none;
	color: #191919;
	font-family: 'Montserrat-Medium';
}
section h1{
	margin-top:50px;
	margin-bottom: 30px;
	font-size:25px;
}
section div{
	margin-bottom: 50px
}
.as{
	 margin-bottom: 10px;
}
.sa{
	font-family:'nunitoSans-bold';
}

#borderDemo {
border: 5px double #1C6EA4;
border-radius: 40px;
margin-left: 600px;
}
footer p {
font-size: 19px;
color: #ffffff;
line-height:3;

}
body section{
	background-color: #F5F5F5;
}
.first{
	margin-left: 430px;
}
.second{
	margin-left: 40px;
}
.mesame{
	margin-left: 600px;
}
section div{
	width: 300px;
}
header{
	padding-bottom: 30px
}
.text1{margin-left: 598px; 
	margin-top: 10px;

}
footer{
background-color: #141414;
 }
